.devis__container{
    background: $orange;
    height: 100vh;
 
       @media (min-width: 600px) {
         display: grid;
         grid-template-columns: 30% 70%;
       }
 
 
    .devis__infos{
       padding-top: 40px;
       
 
       h2{
          text-align: center;
          color: $white;
 
          @media (min-width: 600px) {
             font-size: 3em;
             text-align: left;
             width: 300px;
             margin-top: 200px;
             margin-left: 200px;
           }
       }
       p{
          padding-top: 20px;
          padding-bottom: 20px;
 
          @media (min-width: 600px) {
            font-size: 1.2em;
            text-align: left;
            width: 300px;
            margin-left: 200px;
           }
       }
    }
    .devis__formulaire{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       position: relative;
 
 
       form{ 
 
       @media (min-width: 600px) {
          display: grid;
          grid-template-columns:  200px 200px;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-areas: 
          "demenage emmenagement"
          "date piece"
          "nom telephone"
          "button button";
          height: 50%;
 
         
        }
 
 
        .emmenagement{
          grid-area: emmenagement;
        }
        .piece{
             select{
                @media (min-width: 600px) {
                   height: 40px;
                   width: 90%;
                   margin-top: 15px;
                  }
             
             }
        }
     }  
 
    } 
   input{
    height: 30px;
    margin: 5px;
    border: none;
 
    @media (min-width: 600px) {
      height: 40px;
      margin-top: 15px;
     }
   }
 
 
 
   #btn-submit{
    background: $black;
    color: $white;
     margin-top: 40px;
     position: absolute;
    left: 10px;
     width: 80%;
     cursor: pointer;
 
     @media (min-width: 600px) {
       grid-area: button;
       position: relative;
       width: 300px;
     }
 
   }
 }