.satisfaction__client__container{
  

    @media (min-width: 600px) {
       height: 80vh;
        display: flex;
        flex-direction: column;
       justify-content: space-around;
       align-items: center;
       position: relative;
       }
 
 
    h2{
       padding-top: 20px;
       text-align: center;
 
       @media (min-width: 600px) {
         font-size: 4em;
         padding-top: 100px;
          }
   
    } 
    
 
 }
 .satisfaction__client__avis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
 
 
    p{
       font-size: 0.5em;
       text-align: center;
       padding-top: 10px;
 
       @media (min-width: 600px) {
          font-size: 1em;
         margin-left: 200px;
         margin-right: 200px;
         
          
          }
   
    }
    
 }
    .partenaires{
       img{
          width: 10%;
          padding-left: 20px;
 
          @media (min-width: 600px) {
           margin-right: 150px;
          
          }
    }
      }
    